.App {
  text-align: center;
}

.button-group {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;

  button {
    color: white;
    background-color: rgb(90, 174, 235);
    padding: 6px 12px;
    border: 1px solid rgb(85, 167, 226);
    border-radius: 10px;
    width: max-content;
  }

  input {
    width: 250px;
    border: 2px solid rgb(90, 174, 235);
    padding: 6px;
    border-radius: 10px;
  }
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .product-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    padding: 6px;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 10px;
    margin: 20px 20px;

    li {
      list-style: none;
    }
  }
}